
.video-container {
    display: inline-block; /*Элемент отображается как встроенный. Для блочных тэгов, таких как <div> и <p>, отменяется перенос на новую строку.*/
    padding-left: 1%; /*определяет ширину левого внутреннего отступа элемента*/
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

/* Стили панели навигации */
.navbar p{
    color:darkgray;
    padding-left: 5%;
}

/* Стили панели навигации при наведении мышью */
.navbar p:hover{
    color: aliceblue;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

/*Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору*/
#header-index {
    color: #44453f;
}

body {
    padding-left: 11%;
}

main {
    position: absolute;
}

aside {
    height: 100%; /*Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически*/
    width: 10%;
    position: absolute; /*Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге*/
    z-index: 1; /*Сайд-бар будет поверх остальных элементов*/
    top: 0; /*Сайдбар будет в самой верхней части страницы*/
    left: 0;
    background-color: #111; /*Черный цвет фона (задан в виде кода)*/
    overflow-x: hidden; /*Отключаем горизонтальную прокрутку*/
    padding-top: 20px;
    font-size: large;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgray;
    line-height: 50%;
    padding-left: 1%;
}

/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, main, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, main {
    background-color: rgb(238, 218, 187);
}

