
.video-container {
    display: inline-block; /*Элемент отображается как встроенный. Для блочных тэгов, таких как <div> и <p>, отменяется перенос на новую строку.*/
    padding-left: 1%; /*определяет ширину левого внутреннего отступа элемента*/
    padding-top: 1%;
}

.navbar {
    color: darkgray;
    padding-left: 15%;
}

/* Стили панели навигации */
.navbar p{
    color:darkgray;
    padding-left: 5%;
}

/* Стили панели навигации при наведении мышью */
.navbar p:hover{
    color: aliceblue;
}

header {
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}

/*Стиль хедера для главной страницы имеет приоритет,
так как используется селектор по идентификатору*/
#header-index {
    color: #44453f;
}

body {
    padding-left: 11%;
}

main {
    position: absolute;
}

aside {
    height: 100%; /*Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически*/
    width: 10%;
    position: absolute; /*Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге*/
    z-index: 1; /*Сайд-бар будет поверх остальных элементов*/
    top: 0; /*Сайдбар будет в самой верхней части страницы*/
    left: 0;
    background-color: #111; /*Черный цвет фона (задан в виде кода)*/
    overflow-x: hidden; /*Отключаем горизонтальную прокрутку*/
    padding-top: 20px;
    font-size: large;
}

footer {
    position: absolute;
    bottom: 0;
    font-size: medium;
    color: dimgray;
    line-height: 50%;
    padding-left: 1%;
}

/* Комбинированный селектор - применяется ко всем элементам */
header, footer, aside, body, main, .navbar, .video-container {
    font-family: "Helvetica 65 Medium", sans-serif;
}

header, footer, body, main {
    background-color: rgb(238, 218, 187);
}

/*.review-container,
*/
/*.review-button {
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}
*/
.review-text{
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

/*
    ---------------------------------------------------------------------------------
*/

a.review-button {
    position: relative; /*Положение элемента устанавливается относительно его исходного места.*/
    display: inline-block;
    color: #777674;
    font-weight: bold; /*Насыщенность шрифта задаётся с помощью ключевых слов: bold — полужирное начертание*/
    text-decoration: none;
    text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 7px 3px; /*Добавляет тень к тексту, а также устанавливает её параметры: цвет тени, смещение относительно надписи и радиус размытия*/
    user-select: none;
    padding: 1em 2em; /*поля вокруг содержимого элемента*/
    outline: none;
    border-radius: 3px / 100%;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3)), linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)), linear-gradient(to right, rgba(125,125,125,1), rgba(255,255,255,.9) 45%, rgba(125,125,125,.5)), linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5)), linear-gradient(to right, rgba(223,190,170,1), rgba(255,255,255,.9) 45%, rgba(223,190,170,.5));
    background-repeat: no-repeat;
    background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
    box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}

/* Псевдокласс :hover срабатывает, когда пользователь наводит на элемент мышью*/
a.review-button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}

/* Псевдокласс :active соответствует элементу в момент, когда он активируется пользователем */
a.review-button:active {
    top: 1px;
}

/*
    -------------------------------
*/
.review-button-test {
    position: relative;
    display: inline-block;
    color: #777674;
    font-weight: bold;
    text-decoration: none;
    user-select: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    border-block-color: #418c5a;
}
.slider{
    width: 1000px; /*ширина картинки*/
    height: 408px; /*высота картинки*/
    border: 2px solid black;
    margin: 30px auto;
    overflow: hidden;
}

.slider-line{
    width: 3000px;
    height: 408px;
    background: orangered;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s; /*для плавного движения картинки*/
}

.slider-container {
    max-width: 1000px;
    margin: 30px auto;
    padding: 30px;
}