<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header id="header-index">
        <!--Заголовок страницы-->
        <h1>LifeSpot - прямые трансляции с улиц</h1>
        <!--Параграф-->
        <p>Покажем, что происходит прямо сейчас</p>
        <!--Строка поиска-->
        <input type="text" size="70" placeholder="Введите наименование видео для поиска на странице"/>
    </header>
    <aside id="sidebar">
        <div class="navbar">
            <a href="/"><p>Все трансляции</p></a>
            <a href="/"><p>О проекте</p></a>
        </div>
    </aside>
    <main>
        <!--Лондон-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/JplMzss6_YE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>Лондон</iframe>
            <h3 class="video-title">Видео записано с камеры автобуса.</h3>
        </div>

        <!--Санкт-Петербург-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/gv0byBmrFx8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Санкт-Петербург, белые ночи, разведение мостов.</h3>
        </div>

        <!--Берлин-->
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8ccrVgtg5g8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h3 class="video-title">Улицы Берлина.</h3>
        </div>
    </main>
    <footer>
        <div>
            <p>LifeSpot - все права защищены</p>
            <p>Связаться с нами: contact@lifespot.ru</p>
        </div>
    </footer>
</body>
</html>