<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" defer src="../Static/JS/testing.js"></script>
</head>

<body>
    <header id="header-index">
        <h1>LifeSpot - тестовая страница</h1>
        <p>Здесь можно экспериментировать с кодом</p>
        <input type="text" size="70"/>
        <div>
            <h1>Эксперемент с кнопкой</h1>
            <a onclick="test()" href="#" class="review-button">Нажми меня!</a>
        </div>
            <div>
                <h1>Еще одна кнопка, созданная тэгом button</h1>
                <button class="review-button-test">Оставить отзыв</button>
            </div>
    </header>
    <!--SIDEBAR-->
    <!--FOOTER-->
</body>
</html>